@font-face {
  font-family: 'retroText';
  src: url(./fonts/1.1_Divinity.Regular.ttf);
}

@font-face {
  font-family: 'pressStart';
  src: url(./fonts/PressStartRegular-ay8E.ttf);
}

@keyframes slide {
  0% {
    background-position: 1440px 0;
  }
  95% {
    background-position: 0 0;
  }
  100% {
    background-position: -50px 0;
  }
}

.got-hit {
  color: rgba(255, 255, 255, 0.479);
  animation: flash 0.4s steps(5, start) 10, fadeOut 3s ease 2.5s forwards;
}

.flash {
  animation: flash 1s steps(3, start) 5, fadeOut 3s ease 2.5s forwards;
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Keyframe animation for fading out */
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'pressStart';
  font-size: 16px;
  color: white;
}

body {
  margin: 0;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  background-image: url('../images/Backgrounds/Clouds/Clouds2/4.png');
  background-color: rgba(56, 56, 156, 0.658);
  background-size: cover;
  animation: slide 25s linear infinite;
  /* background-size: cover; */
}
/* IDs */
/**************Game Intro******************/
#game-intro {
  text-align: center;
  /* margin-top: auto 0px auto 0px; */
}

#game-text {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.808);
  height: 400px;
  width: 95%;
  margin: 0 auto;
  align-items: center;
  border-radius: 15px;
}

#game-text p {
  font-size: 1.1rem;
  line-height: 1.5;
  /* height: 1.5em; */
  width: 100%;
  white-space: normal; /* Changed to nowrap for typing effect */
  overflow: hidden;
}

#game-intro h1 {
  color: rgb(255, 252, 252);
  text-transform: uppercase;
  font-size: 3rem;
}
.player {
  background-color: rgba(40, 36, 31, 0.822);
  border-radius: 15px;
  width: 150px;
  height: 150px;
  cursor: pointer;
}
#players {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 15px;
}

#players img {
  width: 60px;
  height: 60px;
  /* margin: 5px 5px; */
}

button:hover {
  transform: scale(1.1);
}

#coins {
  margin-top: 50px;
  animation: flash 1s steps(1, start) infinite;
}

#audio-symbol {
  position: absolute;
  top: 550px;
  left: 1300px;
  border-radius: 6px;
  background-color: rgba(59, 49, 49, 0.304);
  width: 52px !important;
  height: 42px !important;
  background-position: center;
}

/**************Game Screen******************/

#game-container {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url('../images/Backgrounds/BG_DesertMountains/background1.png');
  animation: slide 5s linear infinite;
  background-size: cover;
  height: 100%;
}

#stat-info,
#ctrl-info {
  display: flex;
  width: 95%;
  justify-content: space-between;
}

#banner-text {
  width: 100%;
  background-color: rgba(238, 250, 4, 0.425);
  height: 100px;
  text-align: center;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  animation: flash 1.2s steps(1, start) 10, fadeOut 3s ease 3s forwards;
}

#banner-text p {
  font-size: 3.5rem;
  text-transform: uppercase;
  
  color: rgb(169, 3, 3);
}

.key-info {
  background-color: rgb(65, 81, 81);
  display: flex !important;
  animation: hide 5s;
  animation: flash 1s steps(1, start) 5, fadeOut 3s ease 2.5s forwards;
}

#ctrl-info span {
  display: inline-flex;
  height: 20px;
  width: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 3px;
}

#ctrl-info p {
  display: flex;
  align-items: center;
  margin: auto 10px;
  font-size: 0.8rem;
}

#space-bar {
  background-image: url('../images/Control-keys/space-button-icon2.png');
  height: 60px !important;
  width: 60px !important;
}

#left-ctrl {
  background-image: url(../images/Control-keys/angle-left-icon.png);
}

#right-ctrl {
  background-image: url(../images/Control-keys/angle-right-icon.png);
}

#up-ctrl {
  background-image: url(../images/Control-keys/angle-top-icon.png);
}

#down-ctrl {
  background-image: url(../images/Control-keys/angle-bottom-icon.png);
}

/**************End Game******************/

#game-end {
  text-align: center;
  /* margin-top: auto 0px auto 0px; */
}

#game-end h1 {
  color: rgba(181, 29, 29, 0.879);
  text-transform: uppercase;
  font-size: 2rem;
}

#game-end button {
  width: 30%;
  margin: 0 auto;
}

/************ classes *******************/

.button {
  text-align: center;
  display: inline-block;
  margin: 5px;
  font-weight: bold;
  padding: 10px 0 10px 10px;
  background-color: rgb(118, 118, 118);
  text-shadow: -1px -1px black, 1px 1px white;
  color: rgb(196, 196, 196);

  border-radius: 7px;
  box-shadow: 0 0.2em gray;
  cursor: pointer;
}

.selected {
  background-color: rgba(0, 0, 0, 0.932);
  color: white;
}

.volume-on {
  background-image: url(../images/32-Volume-full.png);

  background-repeat: no-repeat;
}
.volume-off {
  background-image: url(../images/32-Volume-Silent.png);
  background-repeat: no-repeat;
}

.start-btn:active {
  box-shadow: none;
  position: relative;
  top: 0.2em;
}
/* .key-info{
     width:500px
}

.end-scores {
  display: flex;
  justify-content: space-around;
}
/*
 .explosion {
  width: 104px;
  height: 48px;
  background-image: url('../images/Weapons/explosion-b.png') no-repeat center
    center;
  background-repeat: no-repeat;
  animation: explode-animation 2s steps(10) forwards;


@keyframes explode-animation {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -1040px 0;
  }
}

*/
