*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    width: 100%;

}

#game-intro {
    text-align: center;
    /* margin-top: auto 0px auto 0px; */
}
